body#body_public {
    padding: 0;
}

body#body_public .container-sm {
    padding: 0;
}

#main_container {
    background-color: white;
}

#breadcrumb {
    --bs-breadcrumb-divider: '>';
}

#carrousel {
    position: relative;
    display: flex;
}

.img-preview {
    display: block;
    height: 200px;
    cursor: pointer;
}

.dragging {
    opacity: 0.4;
}

table tr td.delrow i {
    visibility: hidden;
}

table tr:hover td.delrow i {
    visibility: visible;
}

:root {
    --bs-primary-rgb: 39, 119, 103;
    --bs-primary: #1ea082;
    --bs-primary-bg-subtle: #85baa8;
    --bs-link-color-rgb: 39, 119, 103;
    --bs-link-hover-color-rgb: 18, 91, 77;
    --bs-link-hover-color: #125b4d;
    --bs-link-color: #2a685c;
    --bs-nav-link-hover-color: #1ea082;
    --bs-btn-active-color: #327669;
}

.btn-link {
    --bs-btn-hover-color: #1ea082;
}

.btn-link:hover {
    --bs-btn-hover-color: #125b4d;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {

}

.btn-primary {
    --bs-btn-bg: #1ea082;
    --bs-btn-border-color: #1ea082;
    --bs-btn-disabled-border-color: #1ea082;
    --bs-btn-disabled-bg: #1ea082;
    --bs-btn-hover-bg: #2a685c;
    --bs-btn-active-bg: #327669;
    --bs-btn-hover-border-color: #327669;
    --bs-btn-active-border-color: #227b69;
}

.btn-outline-primary {
  --bs-btn-color: #1ea082;
  --bs-btn-border-color: #1ea082;
  --bs-btn-hover-bg: #1ea082;
  --bs-btn-hover-border-color: #1ea082;
  --bs-btn-active-bg: #1ea082;
  --bs-btn-active-border-color: #1ea082;
  --bs-btn-disabled-color: #1ea082;
  --bs-btn-disabled-border-color: #1ea082;
}

.form-check-input:checked {
    background-color: #1ea082;
    border-color: #1ea082;
}

.form-switch .form-check-input:focus {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23277767'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
}

.form-check-input:focus {
    border-color: rgba(39, 119, 103,.25);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(39, 119, 103,.25);
}

input::placeholder {
  opacity: 0.5 !important;
}
